@media screen and (max-width: 767px) {
	#home-hero {
		background-attachment: scroll;
	  	h1 {
	  		position: absolute;
	  		width: 80%;
	  		left: 10%;
	  		top: 25%;
	  		text-align: center;
	  	}
	  	a#more {
	  		position: absolute;
	  		bottom: 20px;
	  		width: 30px;
			left: -moz-calc(50% - 15px);
			left: -webkit-calc(50% - 15px);
			left: -o-calc(50% - 15px);
			left: calc(50% - 15px);
	  		text-align: center;
	  		color: $white;
	  	}
	}
    #single-portfolio {
        padding: 30px 0;
        .bootstrap-select {
            width: 100% !important;
        }
    }
	.scrollup {
	    bottom: 20px;
	    right: 20px;
	}
}